<section class="component-body">
  <h1 class="h1-title pt-5" *ngIf="dadosPessoais">{{'Cadastrar Paciente'}}</h1>
  <div class="component-wrapper cmpt-wrp">
    <div class="component-content cmpt-ctn pt-3">
      <div>
        <tabset class="justify-content-center">
          <tab heading="Dados Pessoais">
            <app-dados-pessoais #dadosPessoais></app-dados-pessoais>
          </tab>
          <tab heading="Endereço">
            <app-endereco-residencial></app-endereco-residencial>
          </tab>
          <tab heading="Informações Adicionais">
            <section class="component-body">
              <div class="component-wrapper cmpt-wrp">
                  <fieldset class="row mx-0 mb-3 mt-4">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="input-label">Informações Adicionais:</label>
                        <textarea #informacaoAdicional class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                      </div>
                    </div>
                  </fieldset>
                  <div class="col-12 text-center align-text-bottom">
                    <button type="button" class="btn btn-primary mx-2">
                      Salvar
                    </button>
                    <button type="button" class="btn btn-secondary">
                      Cancelar
                    </button>
                  </div>
              </div>
            </section>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</section>
