<h1 class="pt-3" style="text-align: center;">{{'Cadastrar Paciente'}}</h1>
<mat-card>
<mat-stepper #stepper class="example-form">
  <mat-step [stepControl]="dadosPessoaisForm">
    <form [formGroup]="dadosPessoaisForm">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">Name Completo</mat-label>
            <input matInput placeholder="" formControlName="nome" required>
            <mat-error *ngIf="isValidated(dadosPessoaisForm, 'nome')">{{"Nome é obrigatório."}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">CPF</mat-label>
            <input matInput mask="000.000.000-00" formControlName="cpf" required>
            <mat-error *ngIf="isValidated(dadosPessoaisForm, 'cpf')">{{"CPF é obrigatório."}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">RG<mat-label [style.fontSize.px]="12"> (Opcional) </mat-label>
            </mat-label>
            <input matInput mask="AA-00.000.000" placeholder="MG-99.999.999" formControlName="rg">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="01/01/1900" formControlName="dataNascimento">
            <mat-error *ngIf="isValidated(dadosPessoaisForm, 'dataNascimento')">{{"Data de Nasicmento é obrigatório."}}
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">Email</mat-label>
            <input matInput placeholder="exemplo@emai.com" formControlName="email">
            <mat-error *ngIf="isValidated(dadosPessoaisForm, 'email')">{{"Email é obrigatório."}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">Celular</mat-label>
            <input matInput mask="(00) 00000-0000" placeholder="(99) 99999-9999" formControlName="contato">
            <mat-error *ngIf="isValidated(dadosPessoaisForm, 'contato')">{{"Celular é obrigatório."}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label [style.fontSize.px]="15">Telefone Fixo <mat-label [style.fontSize.px]="12"> (Opcional)
              </mat-label>
            </mat-label>
            <input matInput mask="(00) 0000-0000" placeholder="(99) 9999-9999" formControlName="contatoFixo">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label>Gênero</mat-label>
            <mat-select formControlName="genero">
              <mat-option *ngFor="let x of generos" [value]="x.value">
                {{x.descricao}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="isValidated(dadosPessoaisForm, 'genero')">{{"Gênero é obrigatório."}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 align-center">
          <div class="col-4 margin-bottom">
            Maior de 18 anos?
          </div>
          <mat-slide-toggle class="margin-bottom" formControlName="maiorIdade"></mat-slide-toggle>
        </div>
      </div>
        <div class="row">
          <div class="col-4" style="padding-left: 26px;">
            <button mat-raised-button matStepperNext color="primary" style="width: 166px;" (click)="nextTabValidation()">Proximo</button>
          </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="enderecoForm" label="Endereço">
    <form [formGroup]="enderecoForm">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="informacoesForm" label="Informações Adicionais">
    <form [formGroup]="informacoesForm">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label>Informações Adicionais</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="salvar()">Salvar</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
</mat-card>
